.login a {
    background-color: #01403A;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    
  }
  
  .login a:hover,
  .login a:active,
  .login a.active {
    background-color: #F2A35E;
    color: #01403A;

  }

  .login div {
    margin: 5rem;
  }