.header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  
  .list {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-between;
  }
  
  .list a {
    background-color: #01403A;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    
  }
  
  .list a:hover,
  .list a:active,
  .list a.active {
    background-color: #F2A35E;
    color: #01403A;

  }
  