.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
    background-color: #F2A35E;
    margin: 0.25rem;
    width: 8rem;
    color: #01403A;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #F2A35E; 
    border-radius: 4px;
    height: 1.25rem;
}



.actions button:hover {
    transform: scale(1.05);
}



.actions button:disabled {

    border: black;
    background-color: black;
}
