.goals {
    margin: 2rem auto;
    max-width: 40rem;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.item  {

    background-color: #F2A35E;
    color: #01403A;
    border-radius: 10px;
    display: inline-flex;
    padding: 1rem;
    
    
}
.item a {
    text-decoration: none;
    display: flex;
    color: inherit;
    flex-grow: 5;
    
  }

.item button {
    flex-grow: 1;
    height: 2rem;
    align-self: center;
    border-radius: 5px;
    color: white;
    background-color: #01403A;
}  

.item button:hover {

    background-color: #047065;
}
    


.item:hover {
    transform: scale(1.02);
}

.content {
    padding: 1rem;
}