.goals {
    margin: 2rem auto;
    max-width: 40rem;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}
.item a {
    text-decoration: none;
    display: flex;
    background-color: #F2A35E;
    color: #01403A;
    border-radius: 10px;
  }
    


.item a:hover {
    transform: scale(1.02);
}

.content {
    padding: 1rem;
}